# Copyright (c) 2021, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# Licensed under the BSD 3-Clause License [see LICENSE for details].

#######################################################
# KEEP ITEMS IN ALPHABETICAL ORDER WITHIN THEIR GROUP #
#######################################################

# Temporary and binary files
*~
*.cfg
*.log
*.pot
*.py[cod]
*.orig
*.so
*.swp
*/.ipynb_checkpoints/*
.DS_Store
.cache/*
.thumbs/*
__pycache__/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
_build/*
_coverage/*
build/*
dist/*
sdist/*
docs/_api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
venv*/*

# Jupyter files
*checkpoint.ipynb

handover/data/mano_v1_2.zip
handover/data/mano_v1_2
handover/data/assets-3rd-party-20220511.tar.gz
handover/data/assets
handover/data/dex-ycb-cache-20220323.tar.gz
handover/data/dex-ycb-cache
